.bubble {
  pointer-events: none;
  z-index: 50;
  width: fit-content;
  border-radius: var(--radius-md);
  background-color: #ffffff;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-resurs-bg);
  text-wrap: balance;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
}
